:root {
  --background: #f5f5f5;
  --foreground: #1a1a1a;
  /*--primary:#439943; */
   --primary: #549080; 
  --accent: #FA9C46;
  --surface: #ffffff;
  --surface-muted: #efefef;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-base, Arial, Helvetica, sans-serif);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.primary-btn{
  background: var(--primary);
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  padding: 10px 24px;
  font-weight: 600;
  transition: all .2s;
}

